<main>
   <div>
        <p>
           {{diceimagepaths.dice_1_image_path}}
        </p>
        <p>
            {{diceimagepaths.dice_2_image_path}}
        </p>
        <p>
            {{diceimagepaths.dice_3_image_path}}
        </p>
        <p>
            {{diceimagepaths.dice_4_image_path}}
        </p>
        <p>
            {{diceimagepaths.dice_5_image_path}}
        </p>
        <p>
            {{diceimagepaths.dice_6_image_path}}
        </p>
</div>
</main>